<template>
  <footer id="slides-counter" aria-live="polite"
    :aria-label="`Slides ${$slidev.nav.currentPage} of ${$slidev.nav.total}`">
    <SlideCurrentNo />
    /
    <SlidesTotal />
  </footer>
</template>

<style>
footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.8rem;
  font-size: x-small;
}
</style>
