<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
    url: string
    scale?: number
}>()

const scaleInvertPercent = computed(() => `${(1 / (props.scale || 1)) * 100}%`)
</script>

<template>
    <div class="grid grid-cols-8 w-full h-full">
        <div relative style="grid-column: 2 / -2;" :style="{ width: scaleInvertPercent, height: scaleInvertPercent }">
            <iframe class="w-full h-full" :src="url"
                :style="scale ? { transform: `scale(${scale})`, transformOrigin: 'top left' } : {}" v-bind="$attrs" />
        </div>
    </div>
</template>
