<template>
    <div class="counter" v-bind="$attrs">
        <div class="content">
            <slot />
        </div>
    </div>
</template>

<style scoped>
.counter {
    --height: 1em;

    display: inline-block;
    height: var(--height);
    overflow: hidden;
    animation-duration: 2s;

    .content {
        animation-name: up;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: inherit;
    }
}

@keyframes up {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(calc(-100% + var(--height)));
    }
}
</style>
