<template>
    <div class="slide-alternate">
        <slot />
    </div>
</template>

<style scoped>
.slide-alternate {
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}
</style>
