---
layout: end
---

<h2>Questions ?</h2>

<p class="legal">
    <span class="license">
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Licence Creative Commons BY-NC-SA" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <small><a href="https://pinage404.is-a.dev/#license">About the license ⬆️</a></small>
    </span>
    by
    <a rel="author external" href="https://wheretofind.me/@pinage404">
        <img alt="pinage404" src="https://s.gravatar.com/avatar/0a7d96df27d5d020cb0d03340e734180?s=40" />
    </a>
    on
    <a rel="alternate" href="https://gitlab.com/pinage404/slides">
        <img alt="GitLab" src="https://img.shields.io/gitlab/stars/pinage404/slides?style=social" />
    </a>
</p>

<PoweredBySlidev class="PoweredBySlidev" />

<style>
    .legal {
        a {
            display: inline-block;
            border-bottom-width: 0;
        }

        img {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }

        .license {
            position: relative;

            small {
                position: absolute;
                bottom: -100%;
                left: 0;
                right: 0;
                font-size: 25%;
            }
        }
    }

    .PoweredBySlidev {
        margin: auto;
        margin-top: 1.5em;
        font-size: x-small;
    }
</style>
