.text-center {

    ol,
    ul,
    pre {

        text-align: initial;
    }
}

.slidev-layout.section {
    place-content: center;
    text-align: center;

    background-color: black;
    color: white;
}

.table-of-content,
.slidev-layout.table-of-content {
    background-color: var(--cm-background);
    color: var(--cm-foreground);
}
