.slidev-layout.two-cols-header.how-to-target-this-commit {
    grid-template-rows: initial;
    grid-template-columns: initial;

    .col-header {
        img {
            max-height: 7em;
            margin-inline: auto;
        }
    }
}
